In [ ]:
# データフレームのマージ

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [3]:
dframe1 = DataFrame({'key':['x','z','y','z','x','y'], 'dataset_1':np.arange(6)})

In [4]:
dframe1

  key  dataset_1
0   x          0
1   z          1
2   y          2
3   z          3
4   x          4
5   y          5

In [ ]:
dframe2 =